# ==========================================
# 1. Модулі, які НЕ завантажуються на Git
# ==========================================
/frontend_web/
/test/
/files/

# Якщо хочете залишити саму папку files/ порожньою (або лише з прикладом), 
# розкоментуйте нижченаведені 2 рядки замість /files/ вище:
# /files/*
# !/files/sample_data.csv

# ==========================================
# 2. Конфігурації та конфіденційні дані (Secrets)
# ==========================================
.env
*.env
backend/.env
db.txt

# ==========================================
# 3. Python кеш та віртуальні середовища
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so

# Віртуальні середовища
venv/
.venv/
env/
ENV/

# ==========================================
# 4. Логи, архіви та резервні копії (Backups)
# ==========================================
*.log
*.log.*
/backend/logs/active/*
/backend/logs/archives/*
/backend/backups/*
*.sql.gz
*.enc
*.zip

# ==========================================
# 5. IDE та файли операційної системи
# ==========================================
.vscode/
.idea/
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini
tree.txt

# macOS
.DS_Store

# ==========================================
# 6. Docker та білд-артефакти
# ==========================================
.dockerignore
build/
dist/
*.egg-info/